In [2]:
import pandas as pd
filename = 'C:/Users/hoags/Desktop/Dataset/HouseData/House-Dataset.xlsx'
df = pd.read_excel(filename)

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

In [4]:
### Correlation between price and other columns
price_corr = df.corr()['price'][2:9].round(2)
price_corr

bedrooms       0.32
bathrooms      0.49
sqft_living    0.66
sqft_lot       0.09
floors         0.28
grade          0.66
yr_built       0.06
Name: price, dtype: float64

In [11]:
df.groupby(by=['view','condition'])['id'].count()

view       condition
Average    Average               555
           Fair- Badly worn        2
           Good                  246
           Very Good              91
Excellent  Average               109
           Good                   68
           Poor- Worn out          2
           Very Good              23
Fair       Average               171
           Fair- Badly worn        1
           Good                  100
           Poor- Worn out          1
           Very Good              29
Good       Average               267
           Fair- Badly worn        2
           Good                  134
           Very Good              33
No View    Average             12582
           Fair- Badly worn      166
           Good                 4998
           Poor- Worn out         26
           Very Good            1454
Name: id, dtype: int64

In [20]:
avg_price_by_zipcode = df.groupby('zipcode')['price'].mean()
### Top 3 prices by zipcode
avg_price_by_zipcode_top3 = avg_price_by_zipcode.sort_values(ascending = False)
avg_price_by_zipcode_top3

zipcode
98039    1.145200e+06
98004    9.574203e+05
98040    9.550188e+05
98112    8.559478e+05
98109    7.801148e+05
             ...
98148    2.849086e+05
98001    2.808047e+05
98032    2.512962e+05
98168    2.403284e+05
98002    2.342840e+05
Name: price, Length: 70, dtype: float64

In [19]:
avg_price_by_zipcode

zipcode
98001    280804.690608
98002    234284.035176
98003    294111.278571
98004    957420.266990
98005    773399.376543
             ...
98177    602217.181070
98178    305289.432950
98188    289078.345588
98198    302878.882143
98199    731997.346535
Name: price, Length: 70, dtype: float64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  object
 2   price        21060 non-null  int64
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: float64(4), int64(8), object(4)
memory usage: 2.6+ MB

In [22]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  datetime64[ns]
 2   price        21060 non-null  int64
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(3)
memory usage: 2.6+ MB

In [24]:
df['week'] = df['date'].dt.isocalendar().week